name: Build & Test

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install Rust
      uses: dtolnay/rust-toolchain@stable

    - name: Build Cody
      run: cargo build --release

    - name: Run unit tests
      run: cargo test --all

    - name: Run perft tests
      run: cargo run --release -- perft